@font-face{
  font-family: Xolonium-Regular;
  src: url(../fonts/Xolonium-Regular.woff);
}




* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}


body {
  background: #fff;
  width: 1349px; 
  height: auto;

}

.header {
  background-color:#202020;
  width: 100%;
  height: 60px;
  color: #ffffff;
  font-family: segoeui,Microsoft JhengHei,sans-serif;
  z-index: 1000;

}

.header .wrap--main {
  display: block; 
  max-width: 1200px;
  min-width: 1024px;
  width: 100%;
  height: 60px;
  background: #202020;
  margin: auto;
  position: relative;
  line-height: 55px;
}

.wrap__logo {
  
  width: 300px;
  display: block;
  padding-top: 3px;
  float: left;
}

.wrap__logo img {
  height: auto;
  width: 80%;
  margin-top: 5px; 
}

.wrap__menu ul{
  list-style-type:none; 
}

.wrap__menu ul li{
  float: left;
  width: 170px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  background-color:#202020;
}

.wrap__menu ul li a{
  text-decoration: none;
  color: white;
  display: block;
}

.wrap__menu ul li ul div li{
  display: none;
}

.wrap__menu ul li ul div li a{color: black;}


.wrap__menu ul li a:hover{
  color: #f7313f;
  margin-top: 5px;
  transition: ease 0.4s;
  background-color: #202020;
  margin-top: 0;
 
  
}

.wrap__menu ul li:hover ul div li{
  display: block;
  background-color: white;
  box-shadow: 0 8px  16px 0  rgba(0, 0, 0, 0.8);
}

 .banner{
  z-index: -1;
  width: 100%;
  height: 37.6vw;
  position: relative;
    
}
.Product--title{
  font-family: Xolonium-Regular;
  line-height: 23px;
  margin-top: 85px;
  margin-bottom: 65px;
  text-align: center;
  
}
.Product--title a{
  text-decoration: none;
  color: #202020;
}

.products{
  width: 100%; 
  height: 100%;
  padding: 0 72px ;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  direction: ltr;
  justify-content: space-around;
}


.product{
  max-width: 352px;
  width: calc((100% - 111px)/4);
  display: flex;
  position: relative;
  padding: 26px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  
}
.product a{
  background-color: #fff;
  display: block;
  text-decoration: none;
  color: #202020;
  font-family:  segoeui,Microsoft JhengHei,sans-serif;
}
.product a .product__showitem__name p{
  font-size: 20px;
  margin: 24px 0;
}
.product a .product__showitem__name p:hover{
  color: #f7313f;
  transition: ease 0.2s ;
}
.product .product__showitem .product__showitem__parameter ul{
  list-style: none;
  font-size: 14px;
  margin-bottom: 30px;
}
.product a .product__showitem__parameter ul li{
  padding: 5px 5px 5px 0px;
}
.product a .product__showitem__parameter ul li:hover{
  color: #f7313f;
  transition: ease 0.3s;
}

.product__showitem img{
  width: 100%;
  height: auto;
  
}
.product .product__discount{
  width: 232px;
  height: 0px;
  position: absolute;
  bottom: 42px;
  left: 86px;
  transform: rotate(318deg);
  border-right: 38px solid transparent;
  border-top: 42px solid #fa7c08;
  border-left: 45px solid transparent;
  color: #fff;
  font-weight: ;
  font-size: 20px;
  font-family:  segoeui,Microsoft JhengHei,sans-serif;
  text-align: center;
}
.product .product__discount p#product__discount__text {
  margin-top: -34px;
}
.slide{
  position: relative;
  width: 100%;
  direction: ltr;
  overflow: hidden;
  margin: 0 auto 90px;
}
.slide__carousel{
  height: 100%;
  overflow: hidden;
  position: static;
  max-width: 1456px;
  width: calc(100vw - 140px);
  margin: 0 auto;
}
.slide__carousel__WrapperOut{
  position: relative;
  overflow: hidden;
  background-color: #fff;
  direction: ltr;
  margin: 0 auto;
} 
.slide__carousel__WrapperOut__Wrapper{
  position: relative;
  display: flex;
  height: 100%;
  width: auto;
}
#Wrapper_item_first{
  margin-left: 0;
}
.slide__carousel__WrapperOut__Wrapper .Wrapper__item{
  width: calc((100vw - 396px)/5);
  max-width: 240px;
  margin: 0 32px;
}
.Wrapper__item{
  position: relative;
  
  width: 100%;
}
.Wrapper__item .item{
  position: relative;
  width: 100%;
  font-size: 18px;
  
}
.Wrapper__item .item a{
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-family: segoeui,Microsoft JhengHei,sans-serif;
  color: #202020;
  font-weight: 400;
}
.Wrapper__item .item img{
 width: 100%; 
}

.Wrapper__item .item .item__name{
  margin-top:25px;
}  
.Wrapper__item .item a:hover{
  color: #f7313f;
  transition:all ease 0.4s ;
}  


.control__buttons{
  width: 2.8%;
  height: auto;
  display: block;
}
.control__buttons#control__button--next{
 position: absolute;
 top: 50%;
 right:10px;
 cursor: pointer;
 

}
.control__buttons#control__button--prev{
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: pointer;

 }
#control__button--next img,#control__button--prev img{
  width: 45px;
  height: 45px;
}
#control__button--next:hover,
#control__button--prev:hover{
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease  0.3s;
  border-radius: 6px ;
}

.control__buttons.active{
  display: block;
}























